<config>
    <resolveTypedefs>true</resolveTypedefs>
    <qtMode>true</qtMode>
    <generator>smoke</generator>
    <definesList>/home/ptizoom/prj/.cpan/build/Qt4-0.99.0-0/smokeqt/qtdefines</definesList>
    <includeDirs>
        <dir>/usr/include/qt4</dir>
        <dir>/usr/include/qt4/QtCore</dir>
        <dir>/usr/include/qt4/QtScript</dir>
    </includeDirs>
</config>
